.header{
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.main{
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin: 10px;
    padding: 10px;

}
.post{
    display: flex;
    flex-direction: row;
    border-style: solid;
    justify-content: center;

}
.mainPost{
    display: flex;
    flex-direction: column;
}
.comment{
    display: flex;
    flex-direction: row;
}