.header{
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.main{
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    background: #f7f7f7;

}
.post{
    display: flex;
    flex-direction: row;
    border-style: solid;
    justify-content: center;

}
.mainPost{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comment{
    display: flex;
    flex-direction: row;
}
.Post_Button{
    background: #cdd4dc;
    border: none;
}
.user_icon{
    display: flex;
    flex-direction: column;
}