.App {
  text-align: center;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  background: #eeeeee;
}

.mainView{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  width: 70%;
}

.sidebar {
  width: 30%;
}
.what_inte{
  background: #ffffff;
}
.what_inte_b{
  background: #cdd4dc;
  border: none;
}