.Register_Main{
    flex-direction: column;
    justify-content: space-between;
}
.Register_Username{
    flex-direction: row;
    justify-content: space-between; 
}
.Register_Password{
    flex-direction: row;
    justify-content: space-between; 
}
.Register_Password_Ver{
    flex-direction: row;
    justify-content: space-between; 
}
